{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Predicción de preferencias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav col-12">
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prediccion">Predicción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/datos-entrenamiento">Datos de entrenamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/predicciones">Predicción Múltiple</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="main">
        <section id="presentation">
            <div class="container text-center mt-5">
                <h1 class="display-4" style="font-weight: 400;">Predicción de preferencias</h1>
                <p class="lead" style="font-size: 1.5rem; font-weight: 400;">Bienvenido a nuestro sistema de predicción de preferencias. Aquí podrás predecir tus
                    preferencias y recibir notificaciones personalizadas.</p>
            </div>
            <div class="container text-center mt-5">
                <h2 class="display-5">¿Cómo funciona?</h2>
                <p class="lead" style="font-size: 1.5rem; font-weight: 400;">Nuestro sistema utiliza algoritmos avanzados para analizar tus preferencias y ofrecerte
                    recomendaciones personalizadas.</p>
                <button type="button" id="predecir1" class="btn btn-danger">Predecir preferencia</button>
                <button type="button" id="predecir2" class="btn btn-danger">Predecir preferencias masivas</button>
            </div>
        </section>
    </main>

    <footer class="text-center text-lg-start text-white" style="background-color: #324c80; position: relative; bottom: 0;">
        <div id="footer" class="text-center p-3" style="background-color: #327d80">
            © GRUPO 6 - UNGS - 2025 Todos los derechos reservados
        </div>
    </footer>
    <script>
        document.querySelector('#predecir1').
        addEventListener('click', () => {
            window.location.href = '/prediccion';
        });
        document.querySelector('#predecir2').
        addEventListener('click', () => {
            window.location.href = '/predicciones';
        })
    </script>
</body>

</html>